html {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

/* FORMATTING FOR THE UPPER MENU */

.upper-screen {
  background-image: url("header-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 600px;
  color: white;
}

.menu {
  margin-right: 190px;
}

.menu p {
  display: none;
  font-size: 12px;
  padding-left: 10px;
}

@media screen and (min-width: 920px) {
  .menu p {
    display: inline;
    /* font-size: 12px;
    padding-left: 10px; */
  }
}

.menu p.right {
  color: rgb(226, 226, 226);
}

.menu p.right:hover {
  color: #207aa9;
  cursor: pointer;
}

.left {
  float: left;
  margin-left: 190px;
  padding: 20px;
  color: rgb(67, 134, 189);
}

p.left {
  font-size: 16px;
  margin-top: -5px;
}

p.left:hover {
  cursor: pointer;
  color: #207aa9;
}

.right {
  float: right;
  padding: 20px;
}

.header {
  text-align: center;
  clear: both;
  padding-top: 170px;
}

p.top {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4px;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 15px;
}

h1 {
  font-size: 57px;
  margin-top: 0;
}

button {
  text-transform: uppercase;
  background-color: #2899d4;
  border-radius: 3px;
  color: white;
  padding: 25px 48px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  border: none;
}

@media screen and (min-width: 920px) {
  button {
    /* text-transform: uppercase;
    background-color: #2899d4; */
    /* border-radius: 3px; */
    /* color: white; */
    padding: 17px 40px;
    /* margin-top: 30px; */
    font-size: 15px;
    /* font-weight: bold; */
    /* border: none; */
  }
}

button:hover {
  background-color: #207aa9;
  cursor: pointer;
}

.below {
  color: grey;
  margin-top: 6px;
  font-size: 10px;
  font-weight: bold;
}

.left span img {
  background-color: black;
  padding-right: 10px;
  height: 20px;
}

/* Formatting for the grey area */

.grey-area {
  background-color: #eee;
  text-align: center;
}

h2 {
  color: #333;
  text-transform: uppercase;
  font-weight: 510;
  font-size: 38px;
  text-align: center;
  padding: 60px 12px 10px 12px;
}

@media screen and (min-width: 920px) {
  h2 {
    /* color: #333;
    text-transform: uppercase;
    font-weight: 510; */
    font-size: 30px;
    /* text-align: center; */
    padding-top: 60px;
  }
}

.grey-area p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #777;
  padding: 18px 10px 65px 10px;
}

@media screen and (min-width: 920px) {
  .grey-area p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding: 18px 335px 80px 335px;
    color: #777;
  }
}

/* Formatting for the phone image area */

.phone-area {
  text-align: center;
  /* width: 1000px; */
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 1000px) {
  .phone-area {
    width: 1000px;
  }
}

.phone-columns {
  overflow: auto;
}

.column {
  float: left;
  padding: 0 1rem;
}

.column.third {
  display: block;
  width: 100%;
  margin-top: 28px;
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  .column.third {
    width: calc(100%/3);
    margin-top: 28px;
    font-size: 12px;
  }
}

.main {
  font-weight: bold;
  font-size: 14px;
}

.column.third img {
  width: 60%;
  margin-top: 10px;
}

@media screen and (min-width: 720px) {
  .column.third img {
    width: 80%;
    margin-top: 0px;
  }
}

.column.third .content {
  margin-top: 10px;
  font-family: 'Roboto Slab';
  color: #777;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

/* THIS IS FOR THE BOTTOM GREY AREA */

.phone-area2 {
  text-align: center;
  /* width: 1000px; */
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .phone-area2 {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
  }
}

.bottom-grey {
  background-color: rgb(240, 239, 239);
  padding-bottom: 60px;
}

.bottom-button {
  text-align: center;
}

/* THIS IS THE BOTTOM OF THE PAGE */

.column.third .bottom-image {
  display: inline;
  height: 30px;
  width: 30px;
}

.column.third .bottom-links {
  padding-bottom: 25px;
}

.column.third .bottom-image {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .column.third .bottom-links {
    padding-bottom: 0;
  }
}

.column.third .bottom-links a {
  text-decoration: none;
  margin: 0 0.5rem;
}
