html {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
  margin:0;
  padding: 0;
}

/* FORMATTING FOR THE UPPER MENU */
.upper-screen {
  background-image: url("header-bg.jpg");
  background-size: cover;
  background-position: 0px;
  height: 600px;
  color: white;
}

.menu {
  margin-right: 190px;
}

.menu p {
  display: inline;
  font-size: 12px;
  padding-left: 10px;
}

.menu p.right {
  color: rgb(226, 226, 226);
}

.menu p.right:hover {
  color: #207aa9;
  cursor: pointer;
}

.left {
  float: left;
  margin-left: 190px;
  padding: 20px;
  color: rgb(67, 134, 189);
}

p.left {
  font-size: 16px;
  margin-top: -5px;
}

p.left:hover {
  cursor: pointer;
  color: #207aa9;
}

.right {
  float: right;
  padding: 20px;
}

.header {
  text-align: center;
  clear: both;
  padding-top: 170px;
}

p.top{
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4px;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 15px;
}

h1 {
  font-size: 57px;
  margin-top:0;
}

button {
  text-transform: uppercase;
  background-color: #2899d4;
  border-radius: 3px;
  color: white;
  padding: 17px 40px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: #207aa9;
  cursor: pointer;
}

.below {
  color: grey;
  margin-top: 6px;
  font-size: 10px;
  font-weight: bold;
}

.left span img {
  background-color: black;
  padding-right: 10px;
  height: 20px;
}

/* Formatting for the grey area */

.grey-area {
  background-color: #eee;
  text-align: center;
}

h2 {
  color: #333;
  text-transform: uppercase;
  font-weight: 510;
  font-size: 30px;
  padding-top: 60px;
  text-align: center;
}

.grey-area p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding: 18px 335px 80px 335px;
  color:#777;
}

/* Formatting for the phone image area */
.phone-area {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.phone-columns {
  overflow: auto;
}

.column {
  float: left;
  padding: 0 1rem;
}

.column.third {
  width: calc(100%/3);
  margin-top: 28px;
  font-size: 12px;
}

.main {
  font-weight: bold;
  font-size: 14px;
}

.column.third img {
  width: 80%;
  margin-top: 10px;
}

.column.third .content {
  margin-top: 10px;
  font-family: 'Roboto Slab';
  color: #777;
  font-size: 12px;
  line-height: 20px;
}

/* THIS IS FOR THE BOTTOM GREY AREA */
.phone-area2 {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.bottom-grey {
  background-color: rgb(240, 239, 239);
  padding-bottom: 60px;
}

.bottom-button {
  text-align: center;
}

/* THIS IS THE BOTTOM OF THE PAGE */

.bottom-page {
  margin-top: 30px;
  font-size: 11px;
  padding-left: 135px;
  margin-bottom: 12px;
}
.bottom-page footer, .bottom-page a{
  display: inline;
}

.bottom-page a {
  float: right;
  margin: 0 8px;
  text-decoration: none;
}

.bottom-page footer {
  float: left;
}

.bottom-page img {
  height: 30px;
  margin-top: -10px;
}
